  /* offcanvas */
  .modal_table_row2{
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 5px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    border: 1px solid black;
  }
  .modal_wallet_img2{
    width: 3rem;
  }
  .modal_wallet_img3{
    height: 3rem;
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  .modal_table_row2:hover{
    background-color: #6AC8F7;
  }
  .add-fund-btn{
    cursor: pointer;
    background-color: #6AC8F7;
  }
  .add-fund-btn:hover{
    background-color:#38afeb;
  }



  /* modal */
  .modal-container_1{
    top: 9rem;
    left: 30%;
    position:fixed;
    z-index: 10;
    background-color: #ECF1F4;
    width: 40%;
    border-radius: 20px;
    display: none;
    border: 1px solid rgb(126, 126, 126);
  }
  .btn-modal-close{
    border: 1px solid #F76A81;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    background-color: #F76A81;
    
  }
  .btn-modal-close:hover{
    background-color: #f092a2;
  }
  .modal_header div{

   display: flex;
   justify-content: end;
   margin: 7px 10px;
  }
  .modal_header{
    border-bottom: 1px solid rgb(109, 107, 107);
  }
  .modal-body-wallets{
    background-color: #FAFCFE;
  }
  .modal-body-wallets img{
    width: 2rem;
  }
  .modal_table_row{
    padding: 10px 30px;
    border-bottom: 1px solid rgb(99, 93, 93);
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
  }
  .modal_wallet_img{
    margin-right: 3rem;
  }
  
  .modal_table_row:hover{
    background-color:#6AC8F7;
  }
  .modal_table_row:active{
    background-color:#e8edf0;
  }
  

